.cart-container{
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-btn{
    background: transparent;
    border: none;
}

.cart{
    font-size: 30px;
    color: #6b6b6b;
    transition: 0.3s;
    cursor: pointer;
    border: none;
    padding: 10px;
}

.cart:hover{
    color: #f09819;
}
