header{
  width: 100%;
}

.link, .logo{
  text-decoration: none;
  display: inline;
  color: #6b6b6b;
  padding: 10px;
}

.border-box{
  border: 10px solid;
  border-image: linear-gradient(0.25turn, #f09819, #EDDE5D) 1;
  box-shadow: 0 0 10px #0005;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

nav{
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  display: flex;
}

.btn-nav {
  background: transparent;
  border: none;
  color: #6b6b6b;
  position: relative;
  transition: .5s ease;
  padding-bottom: 4px;
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;
  list-style: none;
  margin: 0 10px;
  text-decoration: none;
}

.btn-nav::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: .5s ease;
}

.btn-nav:hover {
  background: linear-gradient(0.25turn, #f09819, #EDDE5D);
  background-clip: text;
  color: transparent;
  transition-delay: .2s;
}

.btn-nav:hover::before {
  width: 100%;
}

.btn-nav::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: .4s ease;
  z-index: -1;
}
